<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>SkillsDonor</title>
</head>
<body>
    <div class="jumbotron text-center">
        <h1>SkillsDonor</h1>
        <h4>Donate A Skill</h4>
    </div>

    <div class="container mx-auto">
    
    <div class="row mx-auto">
    
    <div class="col-sm-4 col-md-4 justify-items">
    
        <!-- <img src="{% static 'img/index_bg.jpg' %}" alt="background" style="width:350px; height: 125px;"/> -->
    </div>
    
    <div class="col-sm-3 col-md-4 m-1 pt-5">
            <form action="/register" method="post">
            {% csrf_token %} 
            First Name: &emsp13; <input type="text" name="first_name" /> <br><br>
            Last Name: &emsp13;
            <input type="text" name="last_name" /><br><br>
            Email: &emsp13; &emsp13; &nbsp; &nbsp; &nbsp;
            <input type="text" name="email" /> <br><br>
            Password: &emsp13; &emsp13;
            <input type="password" name="password" /><br><br>
            Confirm Password:
            <input type="password" name="confirm" /><br><br>
        
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;<button class="btn btn-primary" >Sign up</button>
            </form>
            <br>
    
        </div>
            <div class="col-sm-3 col-md-4">
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                    <li class="text-danger">{{ message }}</li>
                    {% endfor %}
                    </ul>
                
                    {% endif %}
                    <p>Already have an account? <a href = "/login">Log In</a></p>
            </div>
    
    </div>
    
    </div>
</body>
</html>