<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>{{skill.posted_by.first_name}}'s Skills</title>
</head>
<body>
    <h1>Hello ,{{request.session.greeting}}! Skills listed Below!</h1>
    <a href="/dashboard">Dashboard</a> <a href="/logout">logout</a>
    <p>Location:{{skill.location}}</p>
    <p>Skill:{{skill.skill}}</p>
    <p>Profession:{{skill.profession}}</p>
    <p>Time:{{skill.time}}</p>
    <p>Posted by: {{skill.posted_by.first_name}}</p>
    <p>Posted on: {{skill.created_at}}</p>

</body>
</html>